<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Local Music Player</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="grid-main">
      <div class="home-container">
        <%- include('home.ejs') %>
      </div>
      <div class="main-div">
        <% if (locals.image) { %>
          <div class="music-image">
            <img style="height: 200px; width: 200px;" src=<%= locals.image %> alt=<%= locals.singer %> />
          </div>
          <div class="music-details">
            <h2><%= locals.title %></h2>
            <h2><%= locals.singer %></h2>
          </div>
          <div class="music-buttons">
            <input type="submit" name="prev" id="prev" value="Prev" />
            <input type="submit" name="play" id="play" value="Play" />
            <input type="submit" name="next" id="next" value="Next" />
          </div>
          <audio id="audioFile" src="<%= locals.music %>"></audio>
        </div>
        <% } else { %>
         <div class="home-screen">
          <h1>A Simple Local Music Player</h1>
         </div>
         <% } %>
      </div>
      <script>
        document.querySelector("#play").addEventListener("click", () => {
          const playMusic = document.querySelector("#audioFile");
            console.log(playMusic)
            playMusic.play();
        })
        document.querySelector("#play").click();
    </script>
  </body>
</html>
